{% extends "OroUIBundle:Default:index.html.twig" %}
{% block content %}
   <div style="padding: 25px">

      <h2 style="margin-bottom: 30px">Reindex Products</h2>

      <form action="{{ path('reindex_products') }}" method="POST">
         <div> <textarea style="width: 500px" placeholder="SKUs" type="text" name="skus"></textarea> </div>
         <div style="font-size: 13px">Comma separated SKUs</div>
         <div style="font-size: 13px">Empty means reindex all products</div>

         <br/>

         <div> <input class="btn main-group btn-primary" style="width: 85px" value="Submit" id="submit" type="submit"></div>
      </form>

      <div style="color: green"> {{ success }}</div>
   </div>
{% endblock content %}