{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set entity = null %}

{% block pageHeader %}
    {% include 'OroUIBundle::page_title_block.html.twig' with { title: 'xngage.platform.system_logs.app'|trans } %}
{% endblock %}

{% block content_data %}
    {% block navButtons %}{% endblock navButtons %}
    {% set id = 'job' %}
    {% set gridName = 'application-logs-grid' %}

    <div class="widget-content">
        {{ dataGrid.renderGrid(gridName) }}
    </div>
{% endblock content_data %}

