{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%id%": entity.id }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('application_log_list'),
        'indexLabel': 'Appication Log',
        'entityTitle': entity.title
    } %}

    {{ parent() }}

{% endblock pageHeader %}

{% block content_data %}
    <div><b>Description:</b>
        <br />
        {{ entity.message|raw }}
    </div>
{% endblock content_data %}
