{% extends "OroUIBundle:Default:index.html.twig" %}
{% block content %}
   <div style="padding: 25px">

      <h2 style="margin-bottom: 30px">Add new unit of measurement</h2>

      <form action="{{ path('add_uom') }}" method="POST">
         <div> <input required="required" style="width: 500px" placeholder="Uom name" type="text" name="uom"></input> </div>
         <br/>
         <div> <input class="btn main-group btn-primary" style="width: 85px" value="Submit" id="submit" type="submit"></div>
      </form>

      <div style="color: green"> {{ success }}</div>

      <br />
      -------------------------------------------------------------------------------------------------------------
      <br /> <br />

      <table class="grid grid-main-container">
         <thead class="grid-header">
            <tr class="grid-header-row" style="background: #3f3f3f;color: white;">
               <td style="padding: 10px; width: 400px">Key</td>
               <td style="padding: 10px;">Uom</td>
               <td style="padding: 10px;"></td>
            </tr>
         </thead>

         {% for uom in uoms %}
            <tr class="grid__row" >
               <td style="padding: 10px;" class="string-cell view-mode grid-cell grid-body-cell">{{ uom['key'] }}</td>
               <td style="padding: 10px;" class="string-cell view-mode grid-cell grid-body-cell">{{ uom['value'] }}</td>
               <td data-id="{{ uom['id'] }}" style="padding: 10px;" class="string-cell view-mode grid-cell grid-body-cell">
                  <span style="cursor: pointer" data-uom="{{ uom['value'] }}" class="icon fa-trash-o fa--no-offset delete-uom" aria-hidden="true"></span>
               </td>
            </tr>
         {% endfor %}
      </table>

   </div>

<script>
   loadModules(['jquery'], function($) {
      $(document).ready(function() {
         $('.delete-uom').click(function () {
            var confirm1 = window.confirm('Are you sure you want to delete this UOM?');

            if (confirm1) {
               var t = $(this);
               $.ajax({
                  url: 'delete/' + $(this).data("uom"),
                  method: 'GET',
                  success: function (response) {
                     t.closest('tr').fadeOut();
                  }
               });
            }

         });
      });
   });
</script>

{% endblock content %}