/* @theme: admin.oro; */

.logs-container {
  max-height: 700px;
  overflow: scroll;
  background-color: black;
  color: white; border: 2px solid #d9d9da;
  font-family: Courier,Courier New,monospace;
}