{% extends "OroUIBundle:Default:index.html.twig" %}

{% block content %}
    <div style="padding: 25px">
        <h2 style="margin-bottom: 30px">Run Commands On Demand</h2>
        {% for command in commands %}
            <span style="padding: 10px">
                <form action="{{ path('on_demand_commands_tool_index') }}" method="POST">
                    <input class="btn main-group btn-primary" value="{{ command.title }}" type="submit">
                    <input name="command" type="hidden" value="{{ command.value }}">
                </form>
            </span>
        {% endfor %}
    </div>
{% endblock content %}
