{% extends 'OroUIBundle:actions:view.html.twig' %}

{% set entity = null %}

{% block pageHeader %}
    {% include 'OroUIBundle::page_title_block.html.twig' with { title: ('xngage.platform.system_logs.' ~ env)|trans } %}
{% endblock %}

{% block navButtons %}{% endblock navButtons %}

{% block content_data %}
    {% if error %}
    <p class="text-center">{{ error }}</p>
    {% else %}
        {% if logLines|length %}
            <div class="logs-container" style="padding-left: 10px; padding-top: 10px">
                {% for log in logLines|reverse %}
                    <p> {{ log }} </p>
                {% endfor %}
            </div>
        {% else %}
            <div class="well">
                {{ 'xngage.platform.system_logs.no_logs'|trans }}
            </div>
        {% endif %}
    {% endif %}
{% endblock content_data %}

