{% extends "OroUIBundle:Default:index.html.twig" %}
{% block content %}
    <div style="padding: 25px" class="query-tool-container">
        <div class="query-tool-content">
            <h2>Query Tool <small>(server data/time: {{ currentTime }})</small></h2><br />
            <form action="{{ path('query_tool') }}" method="post" name="query_tool">
                <label for="query">Query:</label><br />

                <textarea style="width: 60%" id="query" name="query" value="{{ query }}">{{ query }}</textarea>

                <div style="font-size:13px; width: 40%;float: right;padding-left: 10px;">
                    <div>Popular Query</div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_product')">select * from oro_product</a> </div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_catalog_category')">select * from oro_catalog_category</a> </div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_web_catalog')">select * from oro_web_catalog</a> </div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_order')">select * from oro_order</a> </div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_order_address')">select * from oro_order_address</a> </div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_order_line_item')">select * from oro_order_line_item</a> </div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_message_queue')">select * from oro_message_queue</a> </div>
                    <div><a href="#" onclick="$('#query').val('select count(*) from oro_message_queue')">select count(*) from oro_message_queue</a> </div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_customer')">select * from oro_customer</a> </div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_customer_address')">select * from oro_customer_address</a> </div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_customer_user')">select * from oro_customer_user</a> </div>
                    <div><a href="#" onclick="$('#query').val('select * from oro_inventory_level')">select * from oro_inventory_level</a> </div>
                </div>

                <div>
                    <label for="querylimit">Query Limit: (Defualt 20)</label><br />
                    <input id="query-limit" type="text" name="querylimit" value="{{ limit }}"/><br />
                    <input id="query" type="Submit" value="Run >>>">
                </div>
            </form>

            <br />

            <div class="oro-datagrid">
                <table class="grid grid-main-container">
                    {% for item in result %}
                        {% if loop.first %}
                            <thead class="grid-header">
                            <tr class="grid-header-row" style="background: #3f3f3f;color: white;">
                                {% for title, value in item %}
                                    <th style="padding: 10px;"> {{ title }} </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tr class="grid__row">
                                {% for title, value in item %}
                                    <td class="string-cell view-mode grid-cell grid-body-cell"> {{ value }} </td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr class="grid__row">
                                {% for title, value in item %}
                                    <td class="string-cell view-mode grid-cell grid-body-cell"> {{ value }} </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>

            {{ pagination | raw}}

            <script type="text/javascript">
                loadModules(['jquery'], function($) {
                    $(document).ready(function() {
                        function loadData(page, url) {
                            var queryValue = $('form textarea#query').val();
                            var queryLimit = $('form #query-limit').val();
                            $.ajax({
                                url  : url,
                                type : "POST",
                                cache: false,
                                data : {
                                    page_no: page,
                                    query: queryValue,
                                    querylimit: queryLimit
                                },
                                success: function(response) {
                                    $('.query-tool-container').empty();
                                    $('.query-tool-container').html($(response).find('.query-tool-content'));
                                }
                            });
                        }
                        $('#query-tool-pagination a').on("click", function(e) {
                            e.preventDefault();
                            var pageId = $(this).attr("data-page-id");
                            var url = $(this).attr("href");
                            loadData(pageId, url);
                        });
                        $('#query-tool-go-page').on('click', function(e) {
                            e.preventDefault();
                            var pageId = $('#query-tool-pagination input[name="query_page_number"]').val();
                            var url = $(this).attr("data-url") + '?page=' + pageId;
                            loadData(pageId, url);
                        });
                    });
                });
            </script>
        </div>
    </div>
{% endblock content %}